<!doctype html>

<html>
<% include layout.ejs %>
<body>

    <a class='avatar' href='https://www.freecodecamp.com/cheezily'>
      <img src='/images/jinxyAvatar.jpg'>
    </a>

    <div class='banner'>Select a Link From the List</div>

    <h1>FreeCodeCamp Public URL Shortener.  Leave a Link for Others!</h1>

    <div class='wrapper'>
      <div class='left'>
        <h2>How to use:</h2>
        <h3>To create a link:</h3>
        <p class='code'>https://fcc-shorten-url.herokuapp.com<span style='color: red;'>/new/http://www.example.com</span></p>
        <br>
        <p>This will return output in the following format:</p>
        <p class='code'>{"original_url": "http://www.example.com","short_url": "6"}</p>
        <br>
        <h3>To use this link:</h3>
        <p class='code'>https://fcc-shorten-url.herokuapp.com/6</p>
        <p>Or just click on it from the list to the right -----></p>
      </div>


      <div class='right'>
        <p>Links others have left:</p>
        <%- fullList %>
        </div>
      </div>

<script src='./javascripts/main.js'></script>
</body>
</html>
